
    <!-- Header -->
     <%- include('./partials/header')  %> 
    <!-- /Header -->
    
    <!-- Banner -->
    <div class="banner">
      <img src="https://static.wixstatic.com/media/bb45c1_e074c357dcb64ffc8adc3091e04401aa~mv2.jpg/v1/fill/w_1000,h_500,al_c,q_90,usm_0.66_1.00_0.01/bb45c1_e074c357dcb64ffc8adc3091e04401aa~mv2.jpg" alt="Banner de ofertas" >
    </div>
    <!-- /Banner -->
  
    <!-- Novedades -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Novedades</h2>
        </div>
        <!-- Show the "ultimos" products -->
        
        <% for( let i = 0; i < product.length; i++ ) { %>
          <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
              <a href="/product/<%= i %> ">
                <figure class="product-box_image">
                  <img src="<%- product[i].imagen  %> " alt="cafetera moulinex">
                </figure>
                <article class="product-box_data">
                  <h2><%- product[i].nombre  %> </h2>
                  <p><%- product[i].descripcion  %> </p>
                  <p>Comentarios: tiene 99% de condicion de bateria</p>
                </article>
              </a>
            </section>
          </div>
        <% } %> 
        
      </div>
    </div>
    <!-- /Novedades -->
    <!-- Más comentados -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Más comentados</h2>
          <% for( let i = 0; i < product.length; i++ ) { %>
            <div class="col-12 col-sm-6 col-lg-3">
              <section class="product-box">
                <a href="/product/<%= i %> ">
                  <figure class="product-box_image">
                    <img src="<%- product[i].imagen  %> " alt="cafetera moulinex">
                  </figure>
                  <article class="product-box_data">
                    <h2><%- product[i].nombre  %> </h2>
                    <p><%- product[i].descripcion  %> </p>
                    <p>Comentarios: tiene 99% de condicion de bateria</p>
                  </article>
                </a>
              </section>
            </div>
          <% } %> 
          
          
          
        </div>
        <!-- Show the "ultimos" products -->
        
    <!-- /Más comentados -->
<div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/product">
              <figure class="product-box_image">
<<<<<<< HEAD
                <img src="https://www.dellapoletti.com/img/products/images/1892/51235.jpg" alt="cafetera moulinex">
=======
                <img src="images/products/default-image.png" alt="cafetera moulinex">
>>>>>>> 31faa276b1fd7cfdf4bdeec6b2c99de7b858446f
              </figure>
              <article class="product-box_data">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/product">
              <figure class="product-box_image">
<<<<<<< HEAD
                <img src="https://revistacar.es/wp-content/uploads/2018/03/Rolex-Oyster-Perpetual-GMT-Master-II-Revista-CAR-_1.jpg" alt="cafetera moulinex">
=======
                <img src="images/products/default-image.png" alt="cafetera moulinex">
>>>>>>> 31faa276b1fd7cfdf4bdeec6b2c99de7b858446f
              </figure>
              <article class="product-box_data">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/product">
              <figure class="product-box_image">
<<<<<<< HEAD
                <img src="https://www.pauljamesjewellers.com/wp-content/uploads/2020/11/pjj0216-1000x1000.jpg" alt="cafetera moulinex">
=======
                <img src="images/products/default-image.png" alt="cafetera moulinex">
>>>>>>> 31faa276b1fd7cfdf4bdeec6b2c99de7b858446f
              </figure>
              <article class="product-box_data">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/product">
              <figure class="product-box_image">
<<<<<<< HEAD
                <img src="https://cdn.theluxurycloset.com/uploads/opt/products/full/luxury-men-rolex-used-watches-p364463-001.jpg" alt="cafetera moulinex">
=======
                <img src="images/products/default-image.png" alt="cafetera moulinex">
>>>>>>> 31faa276b1fd7cfdf4bdeec6b2c99de7b858446f
              </figure>
              <article class="product-box_data">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
      </div>
    </div>
    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- /footer -->
  </body>	
</html>
