
<!-- </head> -->
<%- include('./partials/header') %> 
<body>
	<!-- Header -->
	<!-- product detail -->
<!-- product detail -->
      
		
	<div class="product-detail">
		<div class="d-flex align-items-center">
			<h2 class="product-title" ><%- product.nombre %> </h2> 
        </div>
		<div class="usuario_producto">
			<a href="/profile/ <%- product.usuario.id %> "> <h3> By <%- product.usuario.nombre+ " " + product.usuario.apellido%> </h3> </a> 
		</div>
		<p class="editar">
				<a style="padding-left: 30px; color: white; margin-top: -15px;" href="/product-add">Editar</a>
			</p>
		<div class="row">
			<article class="col-12 col-lg-8 product-detail-info">
				<img src="<%- product.url_imagen  %> " alt="" class="product-detail-img">
				<p class="product-detail-description">
					<%- product.descripcion  %> </p>
			</article>
			<div class="col-12 col-lg-4">
				<section class="comments">
					<!-- hacer if para que solo puedan comentar los logueados -->
					<% for( let i = 0; i < comentarios.length; i++ ) { %>
					<article>	
						<img src="<%= comentarios[i].usuario.imagen %>" alt="">
						<div class="data">
							<p class="user">
							<strong> <a href="/profile/<%= comentarios[i].usuario.id %> "> <%- comentarios[i].usuario.nombre%> </a> </strong>
							<%-comentarios[i].texto_comentario %> </p>
						</div>
					</article>
					<% } %> 
					
				</section>
				<% if(locals.user) { %> 
					<form class="form" action="/product/<%= product.id %>/comentar " method="POST">
						<input class="form-input" type="text" name="texto_comentario" id="texto_comentario" placeholder="New comment...">
						<button type="submit" class="buy-now-button">ADD COMMENT</button>
					</form>
					<% } %> 
					<hr>
				</div>
			</div>

			
</div>
<!-- /product detail -->
<!-- footer -->
<%- include('./partials/footer') %> 
<!-- /footer -->
</body>	
</html>
