
</head>
<%- include('./partials/header') %> 
<body>
	<!-- Header -->
	
	
	<!-- product detail -->
<!-- product detail -->
	<% for( let i = 0; i < products.length; i++ ) { %>
		<div class="col-12 col-sm-6 col-lg-3">
		  <section class="product-box">
			<a href="/product/<%= products[i].id %> ">
			  <figure class="product-box_image">
				<img src="<%- products[i].imagen  %> " alt="cafetera moulinex">
			  </figure>
			  <article class="product-box_data">
				<h2><%- products[i].nombre  %> </h2>
				<p><%- products[i].descripcion  %> </p>
				<p>Comentarios: tiene 99% de condicion de bateria</p>
			  </article>
			</a>
		  </section>
		</div>
	  <% } %> 

	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>