
<%- include('./partials/header') %> 
<body>
	
   <% if(typeof locals.user !== 'undefined') %> 
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.imagen ? usuario.imagen : '' %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.nombre +' '+ usuario.apellido%> 
						<% if(locals.user && locals.user.id == usuario.id){ %> 
						<a href="/profile/edit">
							<i class="fas fa-cog"></i>
						</a>
						<% } %> 
					</h1>
					<% if(locals.user && locals.user.id == usuario.id){ %> 
					<a class="btn mt-3 ml-4" href="/login">Change profile</a>
					<% } %> 
				</div>
				<div> 
					<ul>
						
						<li class="productos-perfil" style="color: black;"> productos agregados <%-productos.length%> 	
						</li>	
						<li> comentarios  <%-comentarios.length%> </li>
						<div>
							<a href="<%-usuario.url_social %>">Red Social</a>
						</div>	
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulosss">My products</h2>     
				<!-- preguntar a pehuen como poder mostrar los productos que el usuario agrego -->
			</div>
			<% for( let i = 0; i < productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
				  <section class="product-box" style="margin-bottom: 100px;">
					<a href="/product/<%= productos[i].id %> ">
					  <figure class="product-box_image">
						<img src="<%- productos[i].imagen  %> " alt="cafetera moulinex">
					  </figure>
					  <article class="product-box_data">
						<h2 style="color: white;"><%- productos[i].nombre  %> </h2>
						<a href="/profile/<%= usuario.id %>/remove" onclick="return confirm('Are you sure you want to delete this product?') ? true : event.preventDefault()" class="btn btn-danger">Delete</a>
						
						
					  </article>
					</a>
				  </section>
				</div>
			  <% } %> 
			  

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>	
</html>
